<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post New Food Item</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
       
        section {
            padding: 20px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form {
            width: 300px;
            display: flex;
            flex-direction: column;
        }

        label, input, textarea, button {
            margin-bottom: 10px;
        }

        .error-message {
            color: red;
        }

        .success-message {
            color: green;
        }

        a {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    
    <header>
         <h2 style="color: white;">Post New Item</h2>
        <nav>
            <label for="nav-dropdown">Menu</label>
            <select id="nav-dropdown" onchange="window.location.href=this.value;" class="custom-btn">
                <option value="#">Select an option</option>
                <option value="/restaurant/orders">View Orders</option>
                <option value="/restaurant-dashboard">Restaurant Dashboard</option>
                <option value="/post-new-item">Post New Item</option>
            </select>
            <a href="/restaurant/logout" class="custom-btn">Logout</a>
            
        </nav>
    </header>


    <section>
        {{#if message}}
            <p class="{{#if error}}error-message{{else}}success-message{{/if}}">{{message}}</p>
        {{/if}}

        <form action="/post-new-item" method="POST">
            <label for="foodName">Food Name:</label>
            <input type="text" id="foodName" name="foodName" required>

            <label for="Quantity">Quantity:</label>
            <textarea id="Quantity" name="quantity" required></textarea>

            <label for="discountedPrice">Discounted Price ($):</label>
            <input type="number" id="discountedPrice" name="discountedPrice" step="0.01" required>

            <label for="restaurantId">Restaurant ID:</label>
            <input type="hidden" name="restaurantId" value="{{restaurantId}}">
            {{restaurantId}}

            <button type="submit">Post Food Item</button>
        </form>
    </section>
</body>
</html>